@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  font-weight: inherit;
  font-size: inherit;
  height: auto;
  width: auto;
}

body {
  margin: 0;
  padding: 0;
}